/* nav {
  height: 80px;
  background-color: pink;
  display: flex;
  justify-content: flex-end;
}


section {
  background-color: lightblue;
  height: 500px;
}

.tarjeta {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
} */


#cuadrado {
  width: 100px;
  height: 100px;
  background-color: red;
}

